{% extends 'layout.html' %}
{% block content %}

<section>
    <div class="card w-100">
        <div class="card-body">Mascotas</div>
        <table class="table table-striped table-bordered w-100">
            <tbody>
                <!-- provs viene de views.py -->
                {% for pet in pets_list %}
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.age }}</td>
                    <td>{{ pet.pedigree }}</td>
                    <td> <img src="{{ pet.main_photo.url }}" style="width: 64px;" /></td>
                    <td>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}